.main-head {
    display: flex;
    justify-content: center;
    font-size: 40px;
    background-color: tan;
    padding: 1%;
    border-radius: 5px;
}

.budget-tracker {
    border-collapse: collapse;
    min-width: 1000px;
    margin: auto;
    margin-top: 5%;
    background-color: rgb(180, 254, 244);
    border: solid;
    border-radius: 15px;
    border: transparent;
    
    
}

.budget-tracker * {
    font-family: sans-serif;
}

.budget-tracker th {
    text-align: left;
    padding: 10px 20px;
    border-bottom: 2.5px solid rgba(76, 121, 236, 0.662);
}

.budget-tracker td {
    padding: 5px;
}

.input, 
.delete-entry {
    height: 30px;
    font-size: 15px;
    padding: 0 10px;
    margin: 0;
    box-sizing: border-box;
}

.input {
    border: 1px solid #dddddd;
    border-radius: 5px;
    outline: none;
}

.input:focus {
    border-color: #bbbbbb;
}

.new-entry {
    border-radius: 5px;
    width: 100px;
    height: 35px;
    border: none;
    background-color: rgba(76, 121, 236, 0.662);
    cursor: pointer;
    color: white;
}

.delete-entry {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    background: none;
    color: red;
    border: none;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
}

.delete-entry:hover {
    background: rgba(225, 0, 0, 0.1);
}

.controls,
.summary {
    text-align: right;
    
}